boxshadow($horizontal,$vertical,$size,$color)
    box-shadow:         $horizontal $vertical $size $color
    -webkit-box-shadow: $horizontal $vertical $size $color
    -moz-box-shadow:    $horizontal $vertical $size $color
    -ms-box-shadow:     $horizontal $vertical $size $color

boothshadow($h,$v,$s,$c,$h2,$v2,$s2,$c2)
    box-shadow:         inset $h $v $s $c, $h2 $v2 $s2 $c2
    -webkit-box-shadow: inset $h $v $s $c, $h2 $v2 $s2 $c2
    -moz-box-shadow:    inset $h $v $s $c, $h2 $v2 $s2 $c2
    -ms-box-shadow:     inset $h $v $s $c, $h2 $v2 $s2 $c2

    