$font = 'Open Sans'

$fcolor     = #fff
$mcolor     = #4d4d4d
$infocolor  = #109999

$border-radius  = 1px
$radius         = 5px
$mainpadding    = 20px
$halfpadding    = $mainpadding * 0.5
$mainsize       = 25px
$standarwidth   = 406px
$rowwidth       = 330px