fieldset
    padding: .35em .625em .75em
    margin: 0 2px
    border: 1px solid #c0c0c0
    legend
        margin-bottom: 5px
        max-width: 100%

.form-group
    margin-bottom: 15px
    &:last-child
        margin-bottom: 0

label
    display: inline
    min-width: 5em
    padding: .2em .6em .3em
    font-size: 75%
    font-weight: bold
    line-height: 1
    white-space: nowrap
    vertical-align: baseline
    border-radius: .25em

.form-group
    display: block 
    width: 100%
    clear: both
    input
        display: block
        padding: 6px 12px
        font-size: 14px
        line-height: 1.42857143
        color: #555
        background-color: #fff
        background-image: none
        border: 1px solid #ccc
        border-radius: 4px
        outline: 0

        &:focus
            border-color: #66afe9
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)